<div class="main-container">
  <div *ngFor="let card of cardList">
    <div class="card-container">
      <div class="card">{{ card.ru }}</div>
      <div class="card">{{ card.en }}</div>
      <div class="icons">
        <button [routerLink]="['/update', { id: card.id }]">UDP</button>
        <button (click)="deleteWord(card.id)">DLT</button>
      </div>
    </div>
  </div>
</div>
<div class="main-input-container">
  <div [formGroup]="listForm" class="card-container">
    <mat-form-field class="card-input" appearance="fill">
      <mat-label>RU</mat-label>
      <input matInput type="text" formControlName="ru">
    </mat-form-field>
    <mat-form-field class="card-input" appearance="fill">
      <mat-label>EN</mat-label>
      <input matInput type="text" formControlName="en">
    </mat-form-field>
  </div>
</div>
<div class="button-group">
  <button mat-raised-button class="save-button" (click)="saveListForm()">Сохранить</button>
</div>
