$primary-palette: (
  50 : #e6f4f1,
  100 : #c1e4dd,
  200 : #98d2c7,
  300 : #6fbfb0,
  400 : #50b29f,
  500 : #31a48e,
  600 : #2c9c86,
  700 : #25927b,
  800 : #1f8971,
  900 : #13785f,
  A100 : #adffe9,
  A200 : #7affdb,
  A400 : #47ffcd,
  A700 : #2effc6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$accent-palette: (
  50 : #e4eef6,
  100 : #bbd5e9,
  200 : #8eb9db,
  300 : #619ccd,
  400 : #3f87c2,
  500 : #1d72b7,
  600 : #1a6ab0,
  700 : #155fa7,
  800 : #11559f,
  900 : #0a4290,
  A100 : #bed6ff,
  A200 : #8bb6ff,
  A400 : #5896ff,
  A700 : #3f85ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);